.root___aEQF6 {
  background: white;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #424242;
}

.logo___1bcm3 {
  display: block;
  margin: 60px auto 25px auto;
  width: 60px;
}

.title___2SPTl {
  font-size: 26px;
  text-align: center;
}

.text___2SGwK {
  text-align: center;
  font-weight: lighter;
  font-size: 18px;
  line-height: 30px;
  padding: 40px;
  margin: 20px 0;
}

.get-started___2Hcub {
  display: inline-block;
  color: #7156dd;
  width: 100%;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

