.root {
  background: white;
  padding: 50px 25px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.content {
  background: #f6f6f6;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 6px;
}

.text {
  margin-bottom: 15px;
}

.button {
  background: #009ad7;
  border: solid 1px #3498db;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 20px 0;
  padding: 12px 25px;
  text-decoration: none;
  text-transform: capitalize;
}

